gudhi.__version__ = 3.10.1
gtda.__version__ = 0.6.2
persim.__version__ = 0.3.7
numpay.__version__ = 1.26.4
tensorflow.__version__ = 2.17.1
keras.__version__ = 3.5.0
PIL.__version__ = 11.0.0
pandas.__version__ = 2.2.2
trimesh.__version__ = 4.5.2
scipy.__version__ = 1.13.1
argparse.__version__ = 1.1


# To make the code work on Colab, add the following:

! sudo apt-get install texlive-latex-recommended
! sudo apt-get install dvipng texlive-latex-extra texlive-fonts-recommended
! wget http://mirrors.ctan.org/macros/latex/contrib/type1cm.zip
! unzip type1cm.zip -d /tmp/type1cm
! cd /tmp/type1cm/type1cm/ && sudo latex type1cm.ins
! sudo mkdir /usr/share/texmf/tex/latex/type1cm
! sudo cp /tmp/type1cm/type1cm/type1cm.sty /usr/share/texmf/tex/latex/type1cm
! sudo texhash
!apt install cm-super
